pgu/pgu_ingestao_telemetria.json
{"flowContents":{"identifier":"aa93f946-f639-3f65-8934-53d7caed025b","instanceIdentifier":"f7b82517-019c-1000-7f69-5138954c7e00","name":"pgu_ingestao_telemetria","comments":"","position":{"x":-600.0,"y":-328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4b9de1d3-f453-3545-9416-18ae769123c2","instanceIdentifier":"f79a3523-019c-1000-8a33-6a5ba778ee3b","name":"PublishMQTT","comments":"","position":{"x":-600.0,"y":192.0},"type":"org.apache.nifi.processors.mqtt.PublishMQTT","bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"2.8.0"},"properties":{"Client ID":"nifi-publish","Keep Alive":"60","Last Will QoS Level":"0","Message Demarcator":null,"Session State":"true","Record Reader":null,"Quality of Service":"0","Broker URI":"tcp://mosquitto:1883","Connection Timeout":"30","SSL Context Service":null,"Username":null,"Session Expiry Interval":"24 hrs","Last Will Message":null,"Last Will Topic":null,"Record Writer":null,"Topic":"tub/telemetry","MQTT Specification Version":"0","Retain Message":"false","Last Will Retain":"false"},"propertyDescriptors":{"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Alive":{"name":"Keep Alive","displayName":"Keep Alive","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session State":{"name":"Session State","displayName":"Session State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quality of Service":{"name":"Quality of Service","displayName":"Quality of Service","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Expiry Interval":{"name":"Session Expiry Interval","displayName":"Session Expiry Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Topic":{"name":"Topic","displayName":"Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Retain Message":{"name":"Retain Message","displayName":"Retain Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"40480f6f-0e35-321e-9896-e0177ada1d1d","instanceIdentifier":"f79cb017-019c-1000-b62c-a1d9b33e492b","name":"JoltTransformJSON","comments":"","position":{"x":-40.0,"y":-48.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.8.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id_veiculo\": \"id\",\n      \"#Vehicle\": \"type\",\n      \"#geo:json\": \"location.type\",\n      \"#Point\": \"location.value.type\",\n      \"lon\": \"location.value.coordinates[0]\",\n      \"lat\": \"location.value.coordinates[1]\",\n      \"#Number\": \"speed.type\",\n      \"velocidade_atual\": \"speed.value\"\n    }\n  },\n  {\n    \"operation\": \"modify-overwrite-beta\",\n    \"spec\": {\n      \"id\": \"=concat('urn:ngsi-ld:Vehicle:', @(1,id))\"\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"68c31687-a330-3dc8-9589-373f94b19027","instanceIdentifier":"f7993e3e-019c-1000-ffbc-ff7adf06f85b","name":"JoltTransformJSON","comments":"","position":{"x":-600.0,"y":-48.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.8.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id_veiculo\": \"busId\",\n      \"lat\": \"latitude\",\n      \"lon\": \"longitude\",\n      \"velocidade_atual\": \"speed\",\n      \"timestamp_leitura\": \"timestamp\"\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"448358b8-287e-3a8c-9992-2fa6f2718ff4","instanceIdentifier":"f79cf920-019c-1000-5a67-de72fac382b4","name":"InvokeHTTP","comments":"","position":{"x":-40.0,"y":192.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://orion:1026/v2/entities","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"0159988c-fa2a-3e2f-91e5-baae62f50308","instanceIdentifier":"f79a1fc6-019c-1000-b1c3-2a108114e76a","name":"ConsumeMQTT","comments":"","position":{"x":-312.0,"y":-328.0},"type":"org.apache.nifi.processors.mqtt.ConsumeMQTT","bundle":{"group":"org.apache.nifi","artifact":"nifi-mqtt-nar","version":"2.8.0"},"properties":{"Max Queue Size":"25","Client ID":"nifi-consumer","Keep Alive":"60","Last Will QoS Level":"0","Message Demarcator":null,"Session State":"true","Record Reader":null,"Quality of Service":"0","Broker URI":"tcp://mosquitto:1883","Connection Timeout":"30","SSL Context Service":null,"Username":null,"Session Expiry Interval":"24 hrs","Last Will Message":null,"Last Will Topic":null,"Topic Filter":"raw/telemetry","Record Writer":null,"Group ID":null,"MQTT Specification Version":"0","Add Attributes as Fields":"true","Last Will Retain":"false"},"propertyDescriptors":{"Max Queue Size":{"name":"Max Queue Size","displayName":"Max Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client ID":{"name":"Client ID","displayName":"Client ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keep Alive":{"name":"Keep Alive","displayName":"Keep Alive","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will QoS Level":{"name":"Last Will QoS Level","displayName":"Last Will QoS Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session State":{"name":"Session State","displayName":"Session State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Quality of Service":{"name":"Quality of Service","displayName":"Quality of Service","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Broker URI":{"name":"Broker URI","displayName":"Broker URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Expiry Interval":{"name":"Session Expiry Interval","displayName":"Session Expiry Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Message":{"name":"Last Will Message","displayName":"Last Will Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Topic":{"name":"Last Will Topic","displayName":"Last Will Topic","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Filter":{"name":"Topic Filter","displayName":"Topic Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"MQTT Specification Version":{"name":"MQTT Specification Version","displayName":"MQTT Specification Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Add Attributes as Fields":{"name":"Add Attributes as Fields","displayName":"Add Attributes as Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Will Retain":{"name":"Last Will Retain","displayName":"Last Will Retain","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ed1f952a-c07b-38de-8c54-a4d5271f3a9b","instanceIdentifier":"f79d0eb2-019c-1000-0537-9bdf79038470","name":"","source":{"id":"40480f6f-0e35-321e-9896-e0177ada1d1d","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"f79cb017-019c-1000-b62c-a1d9b33e492b"},"destination":{"id":"448358b8-287e-3a8c-9992-2fa6f2718ff4","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"InvokeHTTP","comments":"","instanceIdentifier":"f79cf920-019c-1000-5a67-de72fac382b4"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"eae9d8f4-2604-332f-baff-8679d9f2b191","instanceIdentifier":"f79a7bfe-019c-1000-447b-7faa121445f5","name":"","source":{"id":"68c31687-a330-3dc8-9589-373f94b19027","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"f7993e3e-019c-1000-ffbc-ff7adf06f85b"},"destination":{"id":"4b9de1d3-f453-3545-9416-18ae769123c2","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"PublishMQTT","comments":"","instanceIdentifier":"f79a3523-019c-1000-8a33-6a5ba778ee3b"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"ecd7f08e-a7f9-3011-8f02-7c196285b58b","instanceIdentifier":"f79cd913-019c-1000-d63f-c94e8ff2f892","name":"","source":{"id":"0159988c-fa2a-3e2f-91e5-baae62f50308","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"ConsumeMQTT","comments":"","instanceIdentifier":"f79a1fc6-019c-1000-b1c3-2a108114e76a"},"destination":{"id":"40480f6f-0e35-321e-9896-e0177ada1d1d","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"f79cb017-019c-1000-b62c-a1d9b33e492b"},"labelIndex":0,"zIndex":3,"selectedRelationships":["Message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"},{"identifier":"e60b1bc8-1396-3e3f-b0f3-a7c0bd9a307b","instanceIdentifier":"f79a67d7-019c-1000-bbcd-ea271f37ce43","name":"","source":{"id":"0159988c-fa2a-3e2f-91e5-baae62f50308","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"ConsumeMQTT","comments":"","instanceIdentifier":"f79a1fc6-019c-1000-b1c3-2a108114e76a"},"destination":{"id":"68c31687-a330-3dc8-9589-373f94b19027","type":"PROCESSOR","groupId":"aa93f946-f639-3f65-8934-53d7caed025b","name":"JoltTransformJSON","comments":"","instanceIdentifier":"f7993e3e-019c-1000-ffbc-ff7adf06f85b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["Message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"aa93f946-f639-3f65-8934-53d7caed025b"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}